<!-- views/partials/footer.ejs -->

<!-- Footer -->
<footer class="border-top">
    <div class="container text-center py-4">
      <small>
        &copy; <%= new Date().getFullYear() %> Clean Blog. All Rights Reserved.
      </small>
    </div>
  </footer>
  